@font-face {
  font-family: 'MainFont';
  src: url('fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf') format('truetype');
}

body {
  font-family: 'MainFont', sans-serif;
}

.hero {
    background-image: url("./images/biblioteca_cesde.png");
    background-size: cover;
    color: white;
  }

  .hero .container {
    background-color: rgba(255, 255, 255, 0.2); /* semitransparente */
    backdrop-filter: blur(0.2rem); /* aplica el blur al fondo */
    -webkit-backdrop-filter: blur(0.2rem); /* para Safari */
    padding: 6rem;
    max-width: 100%;
    color: black;
  }

  .hero .container .overlay {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 2rem;
    border-radius: 1rem;
  }

  .section-title {
    margin-bottom: 40px;
  }


  .icon-box {
    padding: 20px;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
    height: 100%;
  }

  .btn-cesde {
    background-color: #F24B78;
    color: white;
  }

  .btn-cesde:hover {
    background-color: white;
    color: #F20574;
  }

  .bg-cesde {
    background-color: #F20574;
    color: white;
  }

header{
    display: flex;
    height: 70px;
    background-color:#F20574;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
a{
    text-decoration: none;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 4rem;
    margin-right: 2rem;
}

.page{
    font-weight: 600;
    padding: 0.4rem;
    color: white;
}

.page:hover{
    color: #F24B78;
    background: white;
    border-radius: 0.5rem;
}

.text-body-secondary i{
  font-size: 2rem;
}

.footer {
  background-color: darkgrey;
  width: 100%;
}

.item-galery {
  height: 15rem;
  width: 15rem;
}

body {
  background-color: #f8f9fa;
}

.card {
  border-radius: 15px;
  overflow: hidden;
}

.bg-primary {
  background-color: #0d6efd !important;
}

.card-body ul {
  padding-left: 20px;
}

.politicas {
  text-decoration: none;
}